@model Item

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white text-center">
                    <h2>Excluir Equipamento</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">N. Série:</dt>
                        <dd class="col-sm-8">@Model.id</dd>

                        <dt class="col-sm-4">Aquisição:</dt>
                        <dd class="col-sm-8">@Model.date</dd>

                        <dt class="col-sm-4">Equipamento:</dt>
                        <dd class="col-sm-8">@Model.type</dd>

                        <dt class="col-sm-4">Cartão:</dt>
                        <dd class="col-sm-8">@Model.card</dd>

                        <dt class="col-sm-4">Profile:</dt>
                        <dd class="col-sm-8">@Model.online</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    @using (Html.BeginForm("DeleteConfirmed", "Item", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.id)
                        <p class="mb-3">Tem certeza de que deseja excluir este equipamento?</p>
                        <button type="submit" class="btn btn-danger mr-2">
                            Excluir
                        </button>
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })}
                </div>
            </div>
        </div>
    </div>
</div>
